@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* main */
main {
  @apply w-[100%] h-[100vh] flex justify-between items-center mx-0 gap-2 px-2 py-4;
}

/* right-sec */
.right-sec {
  @apply w-[100%] h-[100%] gap-2 flex flex-col justify-start items-center;
}

/* Sidebar */
.sidebar {
  @apply border border-border rounded-lg w-[25%] h-[100%] flex flex-col justify-around items-center p-3 gap-2;
}

.sidebar-subsec {
  @apply w-[95%] flex flex-col mx-auto;
}

.logo {
  @apply justify-center items-center;
}

.logo img {
  @apply h-[4rem];
}

.logo-desktop {
  @apply hidden md:block;
}

.logo-mobile {
  @apply md:hidden block;
}

.sidebar-menu-list{
  @apply justify-between h-[70%] md:h-[100%] text-lg gap-2;
}

.menu-list-item{
  @apply gap-5 flex justify-center md:justify-start my-auto items-center p-2 rounded-lg;
}

.menu-name {
  @apply hidden md:block;
}

.active {
  @apply bg-primary text-secondary transition-all duration-500 ease-in-out;
}

.menu-icon {
  @apply my-auto; 
}

/* Your Stocks */
.your-stocks {
  @apply hidden md:block
}

/* Navbar */
.navbar {
  @apply border border-border rounded-lg px-3 py-2 flex justify-between items-center w-[100%];
}
.navbar > span {
  @apply flex items-center justify-between w-[100%];
}

.navbar > .searchSpan {
  @apply hidden md:flex w-[30%];
}

.navbar > .actionSpan {
  @apply w-[100%] md:w-[20%];
}

/* Header */
.header {
  @apply w-[100%] p-0 grid grid-cols-1 md:grid-cols-[2fr_1fr_1fr_1fr] gap-3;
}

/* content */
.content {
  @apply rounded-lg w-[100%] h-[100%];
}

/* Under-dev */
.under-dev {
  @apply border border h-[100%] w-[100%] rounded-lg flex flex-col justify-center gap-5 items-center m-auto;
}

.under-dev h1 {
  @apply font-bold text-3xl;
}

.under-dev p {
  @apply text-xl flex gap-2;
}

.under-dev a {
  @apply flex justify-around items-center font-bold gap-2;
}

.under-dev section {
  @apply flex flex-col gap-5 justify-around items-center;
}

/* consumers */
.consumer {
  @apply border border-border rounded-lg px-3 py-2;
}

.consumer h1 {
  @apply font-bold text-xl;
}
